script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")

.container
	.row-fluid
		.header
			ul(class="nav nav-pills pull-right")
					li
						h5.brand(href="http://twitter.com/#{user.username}") Logged in as #{user.username}
					li
						img.img-circle(src="#{user.profile_data.icon[0].value}", width="40", height="40")
					li.active
						a(href="/app") Home
					li
						a(href="/location") Location
					li
						a(href="/u/#{user.username}") Profile
					li
						a(href="/settings") Settings
					li
						a(href="/logout") Logout
			h3.text-muted Bzzy	
hr
	
.container(ng-controller="AppCtrl")
	block alert
	.row
		.col-lg-12
			h3 {{greeting}}, #{user.profile_data.name}!
			block createstatus
	.row-fluid
		if (user.statuses[0] == undefined)
			.col-xs-12.text-left
				h4 No Statuses. Create your own! 
		else
			.col-xs-12.text-left
				h4 Last Status: "#{user.statuses[user.statuses.length -1].status}"
//Copied and pasted from "Feed". Maybe I'll remove "Feed"?
.container
	h3 Latest Statuses
	
		if followingUsers
			h4 People you follow
			if followingUsers.length != 0
				each user in followingUsers
					.row
						.col-xs-1.text-left
							img.img-circle(src="#{user.picture}")
						.col-xs-3.text-center
							h4 #{user.name}
							h5 
								i 
									a(href="/u/#{user.username}") @#{user.username}
							if user.quickstatus
								i (#{user.quickstatus})
						if user.status
							.col-xs-5.text-left
								.row
									h5 Last Status: "#{user.status}" 
								.row
									h5 On #{moment(user.date).calendar()}
						else 
							.col-xs-8.text-left
								.row
									h5 No statuses 
			else
				h5 Huh. I guess you don't follow anyone. 
				h5 That can be changed, you know. 

		if followerUsers
			br
			h4 People following you
			if followerUsers.length > 0
				each user in followerUsers
					.row
						.col-xs-1.text-left
							img.img-circle(src="#{user.picture}")
						.col-xs-3.text-center
							h4 #{user.name}
							h5 
								i 
									a(href="/u/#{user.username}") @#{user.username}
							if user.quickstatus
								i (#{user.quickstatus})
						if user.status
							.col-xs-5.text-left
								.row
									h5 Last Status: "#{user.status}" 
								.row
									h5 On #{moment(user.date).calendar()}
						else 
							.col-xs-8.text-left
								.row
									h5 No statuses
					//hr
			else
				h5 Huh. I guess you don't follow anyone. 
				h5 That can be changed, you know.  

script(src="/app/app.js")
