extends app

block createstatus
	form.form-inline
		.row
			.col-xs-8
				input.form-control(type="text", ng-model="status", placeholder="{{placeholder}}", required="required") 
			.col-xs-1
				p {{140 - status.length}}
			.col-xs-3
				label Quick Status: {{selected}}
		.row
			.col-xs-8
				a.form-control.btn.btn-primary(ng-click="post()") Submit 
			.col-xs-4
				select.form-control(ng-model="selected", ng-options="stat for stat in quickstatuses")

block alert
	.alert.alert-success(ng-show="alertSuccessShow") {{alert}}
	.alert.alert-warning(ng-show="alertWarnShow") {{alert}}
	.alert.alert-danger(ng-show="alertFailShow") {{alert}}