nav(class="navbar-wrapper navbar-default navbar-static-top" role="navigation")
	.container
		.navbar-header
			a.navbar-brand

.container
	.jumbotron
		.hero-unit.text-center
			h1 Bzzy
			h2 The Universal Status

			hr
			a.btn.btn-primary(href="/auth/twitter") Login with Twitter
