doctype html
html(ng-app)
head
	title= "Bzzy"
	link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	//CSS Theme used by lift.do. I think it looks cool. 
	//link(rel='stylesheet', href='/stylesheets/bootstrap-lift.css')
	link(rel='text/javascript', href='/javascripts/bootstrap.min.js')
	link(rel='text/javascript', href='/javascripts/angular.min.js')
	link(rel='text/javascript', href='http://code.jquery.com/jquery-1.10.1.min.js')
	meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
	body!= body