script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")
script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCxoL2Wiw7_xgnP06G4PTs4L1QylzyEEVw&sensor=false")
script(src="/app/location.js")
script.
	var followerUsers = !{JSON.stringify(followerUsers)}; 
	var followingUsers = !{JSON.stringify(followingUsers)}; 

.container
	.row-fluid
		.header
			ul(class="nav nav-pills pull-right")
					li
						h5.brand(href="http://twitter.com/#{user.username}") Logged in as #{user.username}
					li
						img.img-circle(src="#{user.profile_data.icon[0].value}", width="40", height="40")
					li
						a(href="/app") Home
					li.active
						a(href="/feed") Location
					li
						a(href="/u/#{user.username}") Profile
					li
						a(href="/settings") Settings
					li
						a(href="/logout") Logout
			h3.text-muted Bzzy
hr

.container(ng-controller="LocationCtrl")
	#map_canvas(style="width: 100%; height: 500px")
