.container
	.row-fluid
		.header
			ul(class="nav nav-pills pull-right")
				li
					h5.brand(href="http://twitter.com/#{user.username}") Logged in as #{user.username}
				li
					img.img-circle(src="#{user.profile_data.icon[0].value}", width="40", height="40")
				li
					a(href="/logout") Logout

			h3.text-muted Bzzy
hr
	.hero-unit
	h1 Create a new API Key
	h2 This key will allow you to use the Bzzy JSON API
//Implement Key generation logic and views here 
