script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")
.container
	.row-fluid
		.header
			ul(class="nav nav-pills pull-right")
					li
						h5.brand(href="http://twitter.com/#{user.username}") Logged in as #{user.username}
					li
						img.img-circle(src="#{user.profile_data.icon[0].value}", width="40", height="40")
					li
						a(href="/app") Home
					li
						a(href="/location") Location
					li
						a(href="/u/#{user.username}") Profile
					li.active
						a(href="/settings") Settings
					li
						a(href="/logout") Logout
			h3.text-muted Bzzy
hr

.container(ng-controller="SettingsCtrl")

	.alert.alert-success(ng-show="alertSuccessShow") {{alert}}
	.alert.alert-warning(ng-show="alertWarnShow") {{alert}}
	.alert.alert-danger(ng-show="alertFailShow") {{alert}}


	h3 Settings

	h4 Location Settings
	.container
		.row 
			select.form-control(ng-model="selectedLocation", ng-options="set for set in locationSettings")

	h4 Status Settings
	.container
		.row
			select.form-control(ng-model="selectedStatus", ng-options="set for set in statusSettings")
				
	h4 Email Confirmation
	h5 Enter an email to receive notifications from Bzzy! Or not, if that's what you like. 
	if user.settings.email
		h5 Currently, your email is set as #{user.settings.email}
	.container
		.row
			input.form-control(type="email", ng-model="emailAddress", placeholder="") 
		.row
			a.form-control.btn.btn-primary(ng-click="post()") Submit	

script.
	var currentSettings = !{user.settings}; 

script(src="/app/settings.js")

