script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")
script(src="/javascripts/lodash.js")
script(src='http://code.jquery.com/jquery-1.10.1.min.js')
	
.container
	.row-fluid
		.header
			if user != undefined
				ul(class="nav nav-pills pull-right")
					li
						h5.brand(href="http://twitter.com/#{user.username}") Logged in as #{user.username}
					li
						img.img-circle(src="#{user.profile_data.icon[0].value}", width="40", height="40")
					li
						a(href="/app") Home
					li
						a(href="/location") Location
					li.active
						a(href="/u/#{user.username}") Profile
					li
						a(href="/settings") Settings
					li
						a(href="/logout") Logout
			else
				ul(class="nav nav-pills pull-right")
					li.active
						a(href="/auth/twitter") Login
			h3.text-muted Bzzy
hr
.container(ng-controller="UserCtrl")
	.row
		.col-xs-9.text-left
			h3 Statuses for #{foundUser.profile_data.name} (@#{foundUser.username})
		.col-xs-3.text-right
			if user != undefined && user.username != foundUser.username
				a.btn(ng-class="{'btn-danger': isFollowing, 'btn-primary': !isFollowing}", ng-click="post()" text="This") {{following}}
	hr
	if foundUser.statuses.length != 0
		each status in foundUser.statuses.reverse()
			if user != undefined  && user.username == foundUser.username 		
				.container
					.row
						.col-xs-6.text-left
							.row
								h5 "#{status.status}" 
							.row
								i (#{status.quickstatus})
						.col-xs-5.text-left
							//p #{moment(status.date).format('MMMM Do YYYY')}
							h5 #{moment(status.date).calendar()}
						.col-xs-1.text-left
							a.btn.btn-danger(href="/app/status/delete/#{status.id}") X
				
								
			else			
				.container
					.row
						.col-xs-6.text-left
							.row
								h5 "#{status.status}" 
							.row
								i (#{status.quickstatus})
						.col-xs-6.text-left
							//p #{moment(status.date).format('MMMM Do YYYY')}
							h5 #{moment(status.date).calendar()}

			hr
	else
		h4 #{foundUser.profile_data.name} has not updated his status yet! 
script(src="/app/user.js")
if user
	script.
		var statuses = !{JSON.stringify(user.statuses)}; 
		var isFollowing = !{JSON.stringify(user.isFollowing.indexOf(foundUser.username) != -1)}
